.notificationItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #7a7a7a;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.notificationItem:hover {
  background-color: #838080;
}

.notificationItem.read {
  background-color: #e0e0e0;
}

.notificationContent {
  max-width: 80%;
  display: flex;
  align-items: center;
}

.notificationText {
  font-size: 16px;
  color: #000000;
  margin: 0 10px;
}

.timestamp {
  font-size: 12px;
  color: #b2aaee;
}
svg {
  color: #b2aaee;
}
